.App {
  text-align: center;
}
.main_div {
  width: 100%;
  height: 100vh;
  background-color: #badc58;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  text-align: center;
  padding-top: 10%;
}

.center_div {
  background-color: #829120;
  width: 20%;
  height: 60vh;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.6);
  

}
.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button:hover {
  background-color: coral;
}





